@media (max-width: 1200px) {

}
@media (max-width: 992px) {
	.nav2 {
		height: 100px;
	}
	.logo-img img{
		width: 40%;
		top: 20px;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
	}

}

@media (max-width: 768px) {
	.wrapper {
		padding-left: 4%;
		padding-right: 4%;
	}
	.location {
		text-align: center;
	}
	.mini-menu {
		text-align: center;
	}
	.logo {
		text-align: center;
	}
	.jumbo-text {
		top: 23vh;
	}
}

@media (max-width: 480px) {
	.logo-img img{ 
		top: 25px;
	}
	.jumbotron {
		height: 65vh;
	}

}