@media (max-width: 480px) {

}

@media (max-width: 768px) {
	.wrapper {
		padding-left: 4%;
		padding-right: 4%;
	}
	.location {
		text-align: center;
	}
	.mini-menu {
		text-align: center;
	}
	.logo {
		text-align: center;
	}
}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}