@media (max-width: 1200px) {

}
@media (max-width: 992px) {
	.nav2 {
		height: 120px;
	}
	.logo-img img{
		width: 300px;
		top: 20px;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
	}
	.foot-contact li p {
		font-size: 10px;
	}
}

@media (max-width: 768px) {
	.wrapper {
		padding-left: 4%;
		padding-right: 4%;
	}
	.row {
		margin:0;
	}
	.location {
		text-align: center;
	}
	.mini-menu {
		text-align: center;
	}
	.logo {
		text-align: center;
	}
	.jumbo-text {
		top: 23vh;
	}
	.wp-purchase {
		margin: 15px 0;
	}
	.projects h4 {
		text-align:center;
	}
	#overlay1, #overlay2, #overlay3 {
		padding-top: 20%;
	}
	.touch {
		margin:0;
	}
	.foot1 {
		background: #222222;
	}
	.foot-contact li p {
		font-size: 12px;
	}

	// Slide in menu styles 


}
@media (max-width: 575px) {
	#overlay1, #overlay2, #overlay3 {
		padding-top: 16%;
	}
}

@media (max-width: 480px) {
	.navigation li {
	    font-size: 30px;
	}
	.logo-img img{ 
		top: 25px;
		width: 260px;
	}
	.jumbotron {
		height: 65vh;
	}
	.jumbo-text {
    	top: 15vh;
	}
	.features-menu-container li {
		font-size: 12px;
		padding-right: 10px;
	}
	#overlay1, #overlay2, #overlay3 {
		padding-top: 12%;
	}
	.features p {
	    font-size: 12px;
	}
	.choose-us {
		margin-top: 30px;
	}
	.lightbox {
		img {
			margin-top: 45%;
			max-width: 80%;
		}
	}
	.foot1 {
		background: #222222;
	}
}

@media(max-width: 350px){
	#plus1, #plus2, #plus3 {
		// font-size: 50px;
	}
}