@mixin smallgreytext {
	color: $lightgrey;
	font-size: 14px;
	// font-weight: lighter;
}

@mixin overlay {
	background:$gold;
	text-align:center;
	padding:15% 0 66px 0;
	// vertical-align: middle;
	opacity:0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	position: absolute;
	top: -300px;
	right:0;
	// bottom:0;
	left:0;
	display:none;

}
@mixin hover {
	opacity:.95;
	top:0;
	bottom:0%;
	display:inline-block;
}
@mixin plus {
	font-family:Helvetica;
	font-weight:900;
	color:rgba(255,255,255,.85);
	font-size:96px;
}

@mixin smooth {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}