@media (max-width: 768px) {
  .wrapper {
    padding-left: 4%;
    padding-right: 4%;
  }
  .location {
    text-align: center;
  }
  .mini-menu {
    text-align: center;
  }
  .logo {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .logo-img img {
    top: 0px;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* End of setup styles */
body {
  font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
  color: #454545;
}

section {
  padding: 75px 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

.wrapper {
  max-width: 1980px;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.nav1 {
  background: #EBEBEB;
  font-size: 12px;
  color: #454545;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
}

.mini-menu-container {
  padding: 16px 0;
}

.mini-menu-container li {
  display: inline-block;
  padding-left: 10px;
}

.mini-menu {
  text-align: right;
}

.logo-img img {
  position: relative;
  top: 28px;
}

.logo-name {
  width: 66%;
  padding-left: 10px;
}

.logo-name h1 {
  margin: 30px 0;
  font-size: 34px;
}

.nav-doodads {
  margin: 30px 0;
}

.nav-doodads input {
  width: 100%;
}

.nav-doodads p {
  margin: 0;
}

.nav3 {
  background: #030303;
  color: #686868;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  min-height: 125px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav3 ul {
  padding: 0;
  margin: 0;
}

.nav3 li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.nav-border-right::after {
  content: " ";
  display: inline-block;
  width: 1px;
  height: 25px;
  background: #686868;
  margin: 0 10px 0 20px;
  transform: skewx(-30deg);
  position: relative;
  top: 5px;
}

.social-buttons {
  background: #191919;
  text-align: center;
  padding: 15px 5px;
  transform: skewx(-30deg);
}

.social-buttons i {
  padding: 10px;
  width: 33px;
  background: #3E3E3E;
  border-radius: 50%;
  transform: skewx(30deg);
}

.serious-guy img {
  max-width: 300px;
}

.project-box {
  padding: 0 10px;
}

#pagination {
  clear: both;
  width: 75px;
  margin: 25px auto 0;
  padding: 0;
}

#pagination li {
  list-style: none;
  float: left;
  margin: 0 2px;
}

#pagination li a {
  display: block;
  width: 10px;
  height: 10px;
  text-indent: -10000px;
  background: #999;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#pagination li a.active {
  background: #668CFF;
}

.contact-menu-sm {
  width: 10%;
}

.contact-menu-lg {
  width: 90%;
}
